.ant-menu-horizontal{
  line-height: 40px !important;
}
.ant-menu-item, .ant-menu-submenu-title{
  padding:0 0px !important;
  margin:0 13px
}
.ant-menu-horizontal{
  border-bottom: none !important;
}
.ant-menu-horizontal > .ant-menu-item-selected{
  // border-bottom:none !important;
  color:#1c60ff !important;
  a{
    color:#1c60ff !important;
  }
}
.ant-menu-horizontal > .ant-menu-item-active{
  // border-bottom:none !important;
  a{
    color:#1c60ff !important;
  }
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a {
  color:rgba(0,0,0,0.85) !important;
}
.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  min-width: 1280px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  .header-content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    .ice-menu {
      background: transparent;
      .ice-menu-submenu-title,
      .ice-menu-item {
        font-size: 16px !Im;
      }
    }
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    font-size: 12px;
    color: #333;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;
    .user-profile {
      display: inline-block;
      text-align: center;
      margin-bottom: 2px;
      color: #333;
    }
    .icon-down {
      margin-left: 2px;
      color: #333;
    }
  }
}

.user-profile-menu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
  .user-profile-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    a:hover {
      color: #2077ff;
    }
    i {
      margin-right: 5px;
    }
  }
}
