 .table{
   display: table;
   width: 100%;
   tbody{
   	width: 100%;
   }
   thead{
   	width: 100%;
   }
   tr{
   	width: 100%
   }
 }
 .table tr {
  border:none !important;
 }
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-bottom:1px solid #f9f9f9 !important;
  font-size: 1.4rem;
  padding:1.5rem 0.75rem !important;
  font-weight: 300 !important;
 color:rgba(0,0,0,0.6);
 }
 .table>thead>tr>td, .table>thead>tr>th{
   background: @brand-primary-1; 
   color:rgba(0,0,0,0.7);
   font-weight:bold !important;
 }

 .tabe tr{
    &:nth-child(2n){
      &>td{
        background: #FBFBFB !important;
      }
    }
 }